body {
	background-image: url('nami.png');
}

#heading {

}

h2 {
	font-family: ☺SegoeLight, 'Segoe UI', Segoe, Arial, Verdana, sans-serif;
	h1, h2, h3, h4 - "☺SegoeLight", "Segoe UI", Segoe, Arial, Verdana, sans-serif
	body - "☺Segoe", "Segoe UI", Segoe, Arial, Verdana, sans-serif
	font-size: 25px;
	font-weight:300;
}